@model Web.Models.ChangePasswordViewModelExample
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {}))
{
    @Html.AntiForgeryToken()
    
    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword)
    <br/>
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword)
    <br/>
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    <br/>
    <input type="submit" value="Change password" class="btn btn-default"/>
}
