@model Presentation.Web.Models.IndexStudentViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.Message
<hr/>
@using (Html.BeginForm("NewStudent", "Student", new { }, FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <div class="input-group">
        <span class="input-group-addon">
            Student Name:
        </span>

        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    </div>
    <br />
    <button type="submit" class="btn btn-primary" value ="New Student">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New Student
    </button>
}

<hr />
<label for="Id">Student Id:</label>

@Html.DropDownListFor(m => Model.SelectedId,
                           ViewBag.StudentIds as IEnumerable<SelectListItem>,
                           "-- Select --",
                           new { id = "Id", @class = "form-control" })
<br />

<button id="findButton" type="button" class="btn btn-info" value="Find Student">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    Find Student
</button>

<hr />

@Html.ActionLink("Send mail", "TestMail")

<hr />

<div id="students">
    Students Paging Example:
    @Html.Partial("_Students")
</div>

<!-- Always write scripts in the scripts section. -->
@section scripts
{
    <script type="text/javascript">
        $(function () {

            // Binding the html buttons to javascript functions.
            $("#findButton").on('click', findStudent);

            // This binding is located in a function, so we are able to reuse it easy. 
            bindPaging();

            function findStudent() {
                // Get base url and open the path to the student.  
                window.open(location.origin + "/Student/FindStudent/" + document.getElementById("Id").value);
            }

            function paging() {
                var page = parseInt($(this).html());

                $.ajax({
                    url: '@Url.Action("_Students")',
                    data: { "page": page },
                    success: function (data) {
                        $("#students").html(data);
                    }
                }).done(function () {
                    // We bind it again in this callback, 
                    // because reloading the content of the partial
                    // will unbind the previous bindings.
                    bindPaging();
                });
            };

            function bindPaging() {
                $(".page-number").on("click", paging);
            }
        });
    </script>
}
