@model Presentation.Web.Models.Manage.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {}))
{
    @Html.AntiForgeryToken()
    
    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    <br/>
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    <br/>
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    <br/>
    <button type="submit" class="btn btn-primary" value="Change password">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Change Password
    </button>
}
